@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*
 * General elements
 */
 html, body, * {
  font-weight: 400;
  color: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

html, body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

::-moz-selection { /* Code for Firefox */
  color: #FFF;
  background: #F44647;
}
::selection {
  color: #FFF;
  background: #F44647;
}